.App {
  background: white;
  position: relative;
  overflow-x: clip;
}

.App > :nth-child(1) {
  background: var(--black);
  position: relative;
}

.white-gradient {
  position: absolute;
  width: 20rem;
  height: 20rem;
  background: rgba(255, 255, 255, 0.522);
  filter: blur(100px);
  border-radius: 100px;
}

.aqua-circle {
  margin-left: 76%;
  margin-top: -9%;

  position: absolute;
  width: 21rem;
  height: 19rem;
  background: rgba(12, 158, 226, 0.46);
  filter: blur(95px);
  border-radius: 100px;
}
